* {
    margin: 0;
}

.box {
    border: 1px solid black;
    width: 350px;
}

.blackbar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 20px;
    width: 90%;
}

.grayLineLong {
    background-color: lightgray;
    opacity: 80%;
}

.servingTable {
    font-size: 8pt;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: flex-end;
}

.blackbarthin {
    display: flex;
    width: auto;
    background-color: black;
    height: 2px;
}

.calories {
    display: flex;
    font-size: 12;
    justify-content: space-between;
    align-items: flex-end;
}